<div class="os-grid-header col-xs-12">
  <div class="col-xs-3">
    <span translate="dp.short_title">Name</span>
  </div>
  <div class="col-xs-3">
    <span translate="dp.pi">Principal Investigator</span>
  </div>
  <div class="col-xs-3">
    <span translate="dp.start_date">Start Date</span>
  </div>
  <div class="col-xs-3">
    <span translate="dp.distributed_specimen_count">Distributed Specimens</span>
  </div>
</div>

<div ng-class="{'os-rows': list.length > 20}">
  <div class="os-grid-row col-xs-12" ng-repeat="distributionProtocol in list"  ng-click="showDetail(distributionProtocol)">
    <div class="col-xs-3 value">
      <a ui-sref=".overview(distributionProtocol)">{{distributionProtocol.shortTitle}}</a>
    </div>
    <div class="col-xs-3 value">
      <span>{{distributionProtocol.principalInvestigator.firstName}} {{distributionProtocol.principalInvestigator.lastName}}</span>
    </div>
    <div class="col-xs-3 value">
      <span>{{distributionProtocol.startDate | date : global.dateFmt}}</span>
    </div>
    <div class="col-xs-3 value">
      <span>{{(distributionProtocol.distributedSpecimensCount || 0) | number: 0}}</span>
    </div>
    <div ng-include="'more_button.html'"></div>
  </div>
</div>

<script type="text/ng-template" id="more_button.html">
  <div dropdown class="grid-dropdown">
    <button class="dropdown-toggle pull-right" aria-haspopup="true" aria-expanded="false"
      ng-click="$event.stopPropagation()">
      <span class="fa fa-ellipsis-v"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
      <li>
        <a ng-click="showDetail(distributionProtocol)">
          <i class="fa fa-eye"></i>
          <span translate="common.buttons.view">View</span>
        </a>
      </li>
      <li show-if-allowed="specimenResource.updateOpts">
        <a ui-sref="dp-addedit({dpId: distributionProtocol.id})">
          <i class="fa fa-pencil"></i>
          <span translate="common.buttons.edit">Edit</span>
        </a>
      </li>
      <li show-if-allowed="participantResource.deleteOpts" ng-click="$event.stopPropagation()">
        <a ng-click="deleteObj(distributionProtocol)">
          <span class="fa fa-trash"></span>
          <span translate="common.buttons.delete">Delete</span>
        </a>
      </li>
    </ul>
  </div>
</script>

