<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li>
          <a ui-sref="cp-list-view({cpId: cp.id})">
            <span>{{cp.shortTitle}}</span>
          </a>
        </li>
      </ul>
      <h3>
        <span translate="participant.bulk_registration">Bulk Participant Registration</span>
      </h3>
    </div>
  </div>

  <div class="container">
    <form name="pform" class="form-horizontal" os-form-validator="pform" validator="pformValidator" novalidate>
      <div class="form-group">
        <label class="col-xs-3 control-label" translate="participant.num_of_participants">Number of Participants</label>
        <div class="col-xs-6">
          <input type="text" name="numOfParticipants" ng-model="ctx.regCount" class="form-control"
            placeholder="{{'participant.num_of_participants' | translate}}" required>
          <div os-field-error field="pform.numOfParticipants"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-1 col-xs-9">
          <table class="os-table os-table-hover os-table-fixed bulk-edit" overflow="auto" ng-if="ctx.cpEvents.length > 0">
            <thead class="os-table-head">
              <tr class="row">
                <th class="col col-xs-6">
                  <div class="clearfix">
                    <div class="pull-left">
                      <os-checkbox ng-change="toggleAllEventSelect()" ng-model="ctx.selection.all"></os-checkbox>
                    </div>
                    <div class="pull-left os-ctrl-padding-top" style="padding-left: 12px;">
                      <span translate="cp.cpe_point_label">Event Point Label</span>
                    </div>
                  </div>
                </th>
                <th class="col col-xs-6">
                  <span translate="participant.collection_site">Collection Site</span>
                </th>
              </tr>
            </thead>
            <tbody class="os-table-body">
              <tr class="row" ng-repeat="event in ctx.cpEvents | orderBy:['eventPoint', 'id']"
                ng-class="{selected: event.selected}">
                <td class="col">
                  <div class="clearfix">
                    <div class="pull-left">
                      <os-checkbox ng-change="toggleEventSelect(event)" ng-model="event.selected"></os-checkbox>
                    </div>
                    <div class="pull-left os-ctrl-padding-top" style="padding-left: 12px;">
                      <os-event-desc event-point="event.eventPoint" event-label="event.eventLabel"
                        event-code="event.code" coding-enabled="cpViewCtx.codingEnabled">
                      </os-event-desc>
                    </div>
                  </div>
                </td>
                <td class="col">
                  <os-sites name="defaultSite" md-type="true" ng-model="event.defaultSite"
                    placeholder="{{'participant.collection_site' | translate}}">
                  </os-sites>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-1 col-xs-9">
          <button type="submit" class="btn btn-primary" os-form-submit="registerParticipants()">
            <span translate="common.buttons.submit"> Submit </span>
          </button>
          <button class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.cancel"> Cancel </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
